<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

    <title>Una escultura habitable en la selva yucateca.</title>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                <div class="nav__logo_text">ART - TRACES</div>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link ">
                            INICIO
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinocuba" class="nav__link">
                            DESTINO CUBA
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinomexico" class="nav__link active-link">
                            DESTINO YUCATÁN
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/indexgaleria" class="nav__link">
                            GALERÍA
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/contacto" class="nav__link">
                            TRIP REQUEST
                        </a>
                    </li>
                </ul>
                <br><br><br><br>
                <a href="/1english" class="button">
                    English
                </a>

                <i class="bx bx-x nav__close" id="nav-close"></i>
            </div>

            
            
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home" id="home">
            <img src="https://i.postimg.cc/zv5GXcmk/blog1princiapl.jpg" alt="" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__data-title">Una escultura <br> habitable en la<br> selva yucateca.</b></h1>
                </div>
            </div>
        </section>

        <!--=============== BLOG CONTENT ===============-->
        <section class="section">
            <p class="blog__content">
                Un portón de metal oxidado, sin señales, en medio de la nada. Un camino largo entre los árboles, algún trino de pájaros, silencio … todo antes del milagro: Partenón contemporáneo, palacio romano, arquitectura naturalista, monumento a la meditación, escultura viva. Todo esto viene a la mente al observar incrédulos la obra, en medio de la selva. <br>

                Plantel Matilde es el refugio construido por el escultor Javier Marín para albergar (y soñar) su escultura monumental. Su ópera prima arquitectónica. Puro concreto y agua, acero y madera…. rodeada de agua, de verde, de luz. <br>

                Inmensa en su arquitectura y casi monástica en su concepción, visitar Plantel Matilde es una experiencia de esas que no se olvidan. El tiempo se hace corto y uno desearía quedarse allí siempre, disfrutando de la energía mágica que emana de cada rincón del edificio, de la obra imponente del artista. Es como caminar dentro de una escultura que es a un tiempo obra y a un tiempo hogar. Toda paz. <br>

                Y por si fuera poco, no se queda ahí la labor del artista. Su empeño se extiende a la comunidad, genera empleos, moldea sueños. El Taller de Barro de Sac Chich fue concebido durante la primera residencia artística en Plantel Matilde, como un lugar de encuentro comunitario enfocado al diseño, la creación, la producción y comercialización de piezas de barro. Al día de hoy, el Taller de Barro de Sac Chich funciona como un laboratorio de encuentro y colaboración, cuyo propósito es aprender un oficio y generar un modelo de trabajo justo y equitativo para los participantes. <br>

                La visita a Plantel Matilde incluye también una visita a la galería donde los artesanos del barro de Sac Chich exhiben sus obras, saborear una deliciosa agua de frutas, llevarse de regalo una de sus obras y conocer a las mujeres y hombres que cada día crean sueños de cerámica con sus manos. <br>

                Aún quiere más? Disfrute un almuerzo increíble organizado por los locales en una hacienda bellísima.
            </p>
        </section>

        <!--=============== BLOG Galeria ===============-->
        
        <div class="wrapper">
                <i class='bx bx-left-arrow-alt button' id="prev"></i>
                <div class="image-container">
                  <div class="carousel">
                    <img src="https://i.postimg.cc/xjydFnHp/blog1.1.jpg" alt="" />
                    <img src="https://i.postimg.cc/tJt73Hdf/blog1.2.jpg" alt="" />
                    <img src="https://i.postimg.cc/jdMStcMz/blog1.3.jpg" alt="" />
                    <img src="https://i.postimg.cc/dtsVbpjs/blog1.4.jpg" alt="" />
                    <img src="https://i.postimg.cc/FzNKJL8B/blog1.5.jpg" alt="" />
                    <img src="https://i.postimg.cc/FzvsMLxx/blog1.6.jpg" alt="" />
                    <img src="https://i.postimg.cc/XYq7639t/blog1.7.jpg" alt="" />
                    <img src="https://i.postimg.cc/yY6d10FJ/blog1.8.jpg" alt="" />
                  </div>
                  <i class='bx bx-right-arrow-alt button' id="next"></i>
                </div>
        </div>
        <br><br>
        
        
    </main>
    
    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">

            <div class="footer__logo">
                <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                <h1 class="footer__title">Art Traces</h1>
            </div>

            <ul class="footer__social">
                

                <a href="https://www.instagram.com/arttracestravel/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </ul>

            <span class="footer__copy">
                &#169; Art Traces. Todos los derechos reservados
            </span>
        </div>
    </footer>

    <!--=============== Destinos JS ===============-->
    <script src="{{url_for('assets', path='/js/destinos.js'}}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('assets', path='/js/main.js'}}"></script>
</body>
</html>