<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

    <title>From Popular Market to Gourmet Kitchen: Cooking with a Chef</title>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                <div class="nav__logo_text">ART - TRACES</div>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/main" class="nav__link ">
                            HOME
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinocubaenglish" class="nav__link">
                            DESTINATION CUBA
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinomexicoenglish" class="nav__link">
                            DESTINATION YUCATÁN
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/indexgaleriaenglish" class="nav__link">
                            GALLERY
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/blogenglish" class="nav__link active-link">
                            BLOG
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/contactoenglish" class="nav__link">
                            TRIP REQUEST
                        </a>
                    </li>
                </ul>
                <br><br><br><br>
                <a href="/2" class="button">
                    Spanish
                </a>

                <i class="bx bx-x nav__close" id="nav-close"></i>
            </div>

            
            
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home" id="home">
            <img src="https://i.postimg.cc/PJv9Q3D3/principal-2.jpg" alt="" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__data-title">From Popular Market <br> to Gourmet Kitchen: <br> Cooking with a Chef</h1>
                </div>
            </div>
        </section>

        <!--=============== BLOG CONTENT ===============-->
        <section class="section">
            <p class="blog__content">
                Food markets in Mexico are an unmissable experience: an explosion of colors, smells, and textures blends with the vendors' calls and offers. The freshest fruits, a thousand condiments, the incredible variety of peppers, moles, sauces, cheeses, and handmade sweets set the stage for ladies in impeccable embroidered huipiles carrying their "mandados" for the family pantry. Between green recado and red mole, chaya and string cheese, it's easy to fill your bags. Everything tempts you. <br>

                That's why our tour has to start here, an amazing journey learning about flavors and traditions, hand in hand with the renowned chef Gerardo Llaca, who will help you choose the best condiments. Later, return to his kitchen and, together with him, turn them into a luxury meal to enjoy accompanied by excellent wine and even better conversation. <br>

                A graduate of the Cordon Bleu Paris culinary and hospitality school, and with extensive professional experience in more than 15 countries, Llaca is passionate about experimental and healthy cooking with local products. He is also a staunch promoter and defender of traditional cuisines. Moreover, a charming host who will make this shared meal an unforgettable experience.

            </p>
        </section>

        <!--=============== BLOG GALLERY ===============-->
        
        <div class="wrapper">
                <i class='bx bx-left-arrow-alt button' id="prev"></i>
                <div class="image-container">
                  <div class="carousel">
                    <img src="https://i.postimg.cc/dQrM3h1n/2-1.jpg" alt="" />
                    <img src="https://i.postimg.cc/RCkMbr3p/2-2.jpg" alt="" />
                    <img src="https://i.postimg.cc/NFJRBgWX/2-3.jpg" alt="" />
                    <img src="https://i.postimg.cc/BvXk06kT/2-4.jpg" alt="" />
                    <img src="https://i.postimg.cc/j2PCkRRK/2-5.jpg" alt="" />
                    <img src="https://i.postimg.cc/pV7PmmK6/2-6.jpg" alt="" />
                  </div>
                  <i class='bx bx-right-arrow-alt button' id="next"></i>
                </div>
        </div>
        <br><br>
        
        
    </main>
    
    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">

            <div class="footer__logo">
                <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                <h1 class="footer__title">Art Traces</h1>
            </div>

            <ul class="footer__social">
                

                <a href="https://www.instagram.com/arttracestravel/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </ul>

            <span class="footer__copy">
                &#169; Art Traces. All rights reserved
            </span>
        </div>
    </footer>

    <!--=============== Destinos JS ===============-->
    <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('assets', path='/js/main.js')}}"></script>
</body>
</html>
