<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">
    
            <!--=============== BOXICONS ===============-->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
            <!--=============== SWIPER CSS ===============-->
            <link rel="stylesheet" href="/{{url_for('assets', path='/css/swiper-bundle.min.css')}}">
    
            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="/{{url_for('assets', path='/css/styles.css')}}">
    
            
    
            <title> Art Traces | Yucatan Architecture</title>
        </head>
    
        <body>
            <!--=============== HEADER ===============-->
            <header class="header" id="header">
                <nav class="nav container">
                    <div class="nav__logo">
                        <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                        <div class="nav__logo_text">ART - TRACES</div>
                    </div>
    
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/main" class="nav__link ">
                                    HOME
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinocubaenglish" class="nav__link ">
                                    DESTINATION CUBA
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinomexicoenglish" class="nav__link active-link">
                                    DESTINATION YUCATÁN
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/indexgaleriaenglish" class="nav__link">
                                    GALLERY
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/contactoenglish" class="nav__link">
                                    TRIP REQUEST
                                </a>
                            </li>
                        </ul>
                        <br><br><br><br>
                        <a href="/arquitecturayucatan" class="button">
                            Spanish
                        </a>
            
                        <i class="bx bx-x nav__close" id="nav-close"></i>
                    </div>
            
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-menu'></i>
                    </div>
            
                </nav>
            </header>
        
            <!--=============== MAIN ===============-->
            <main class="main">
        
                <!--=============== EXPERIENCE 1 ===============-->
        
                <section class="about section" id="about">
                    <span class="section__subtitle">Enjoy the Best </span>
                    <h2 class="section__title">Architecture</h2>
        
                    <div class="about__container container grid">
        
        
                        <div class="about__info">
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Timeline Architecture</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Magical Neighborhoods in Mérida (La Ermita, Santiago, Santa Ana, Santa Lucia).</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Magical Towns, (Valladolid, Izamal, Mani)</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Archaeology, (Chichen Itza, Uxmal, Mayapan, Dzibitzaltun, Coba)</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Interior Design and Decoration</h3>
                            </div>
        
                        </div>
        
                        <div class="about__data">
        
        
                            <p class="about__description">
                                Yucatán has a historical legacy in the architectural world like few territories in the world. Majestic ceremonial centers, capital cities, and beautiful buildings with carved stone and perfect architecture have stood in its surroundings for many centuries. The Maya people built Chichen Itzá, one of the most important ceremonial temples in archaeology and one of the wonders of the modern world. Visiting the city of Mérida is a journey into a city full of history, dreams, and hidden magic in every corner. Mérida is a blend of a contemporary city and Maya and colonial history. We can also explore the ancient streets and structures masterfully transported to our time. Exploring Yucatán and its architecture is a journey through time.
        
                            </p>
        
                            <a href="/contactoenglish" class="button">Contact Us</a>
                        </div>
                    </div>
                </section>
        
                <section class="about section" id="about">
                    <span class="section__subtitle">Enjoy the </span>
                    <h2 class="section__title">Experiences in Our Gallery</h2>
        
                    <div class="wrapper">
                        <i class='bx bx-left-arrow-alt button' id="prev"></i>
                        <div class="image-container">
                            <div class="carousel">
                                <img src="https://i.postimg.cc/k5j3xk9s/pexels-viviana-ceballos-3546605.jpg" alt="" />
                                <img src="https://i.postimg.cc/25N3sLBM/fernando-gago-Iu-YL3s-Eq-AOk-unsplash.jpg" alt="" />
                                <img src="https://i.postimg.cc/d3kWZfth/marv-watson-Uf-K0-P6-Wyg-EE-unsplash.jpg" alt="" />
                                <img src="https://i.postimg.cc/j5Kw7nxP/pexels-bhargava-marripati-3591074.jpg" alt="" />
                                <img src="https://i.postimg.cc/NMwTkP4y/pexels-mike-van-schoonderwalt-5484581.jpg" alt="" />
                                <img src="https://i.postimg.cc/BbKrfbF7/pexels-omar-zetina-12046436.jpg" alt="" />
                                <img src="https://i.postimg.cc/PrZjB3zf/pexels-carmen-lorena-lopez-cabrera-14632604.jpg" alt="" />
        
                            </div>
                            <i class='bx bx-right-arrow-alt button' id="next"></i>
                        </div>
                    </div>
                    <br><br>
                </section>
        
        
        
            </main>
        
            <!--=============== FOOTER ===============-->
            <footer class="footer">
                <div class="footer__container container">
            
                    <div class="footer__logo">
                        <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                        <h1 class="footer__title">Art Traces</h1>
                    </div>
            
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
            
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
            
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </ul>
            
                    <span class="footer__copy">
                        &#169; Art Traces. All rights reserved
                    </span>
                </div>
            </footer>
        
            <!--=============== SCROLLREVEAL ===============-->
            <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
        
            <!--=============== SWIPER JS ===============-->
            <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
        
            <!--=============== MIXITUP FILTER ===============-->
            <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
        
            <!--=============== DESTINOS JS ===============-->
            <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
        </body>
        
</html>