<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        <title> Art Traces | Architecture of Cuba </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/main" class="nav__link ">
                                HOME
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinocubaenglish" class="nav__link active-link">
                                DESTINATION CUBA
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinomexicoenglish" class="nav__link">
                                DESTINATION YUCATÁN
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/indexgaleriaenglish" class="nav__link">
                                GALLERY
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/contactoenglish" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/arquitecturacuba" class="button">
                        Spanish
                    </a>
        
                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>
        
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
        
            </nav>
        </header>
        
        <!--=============== MAIN ===============-->
        <main class="main">
        
            <!--=============== EXPERIENCE 1 ===============-->
        
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the beautiful</span>
                <h2 class="section__title">Architecture</h2>
        
                <div class="about__container container grid">
        
        
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Guided tours through the streets of the historic center</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visit emblematic buildings within the art deco movement, mainly in Old Havana, Centro Havana, Vedado, and Miramar</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Explore the architecture of the 1950s, including public and private works</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Tour through the notable works of each period after 1959</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visit houses from various historical periods (from colonial times to the present day)</h3>
                        </div>
                    </div>
        
                    <div class="about__data">
        
        
                        <p class="about__description">
                            For architecture enthusiasts, visiting Havana will be an intense experience. Defined by Carpentier as the "City of style without styles," Havana offers visitors the charm and mysteries of a legendary city. Walking its streets and visiting different neighborhoods is similar to a journey through time, where you can see all the architectural trends that have shaped Havana's profile and have established our city as one of the most important in Latin America and the Caribbean.
                            Founded in 1519, the City of Havana was declared a UNESCO World Heritage Site in 1982. The Old City and its system of fortifications are a classic example of colonial architecture, along with private residences, luxurious palaces, and wonderful squares from the 16th and 17th centuries.
                            The Malecón, our balcony to the Caribbean Sea, is the protagonist of change, where old buildings give way to the modern city, where eclecticism, modernism, art nouveau, art deco, and contemporary trends share the shade of trees on wide avenues and parks. Cerro, El Vedado, Santo Suárez, or Miramar are some of the neighborhoods where typical architecture will provide us with a particular perspective on Cuban history and help us understand how changes in the socio-cultural context of the island contributed to shaping the current identity of the Cuban capital.
                        </p>
        
                        <a href="/contactoenglish" class="button">Contact Us</a>
                    </div>
                </div>
            </section>
        
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the</span>
                <h2 class="section__title">Experiences in Our Gallery</h2>
        
                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                        <div class="carousel">
                            <img src="https://i.postimg.cc/B61BPyCf/pexels-mehmet-turgut-kirkgoz-18747883.jpg" alt="" />
                            <img src="https://i.postimg.cc/kgnRPZ6X/pexels-matthias-oben-3687869.jpg" alt="" />
                            <img src="https://i.postimg.cc/25Gcmdbv/Imagen_de_WhatsApp_2023-10-24_a_las_09.32.00_216a020f.jpg" alt="" />
                            <img src="https://i.postimg.cc/tCcX5PBX/pexels-ryutaro-tsukata-5472269.jpg" alt="" />
                            <img src="https://i.postimg.cc/bJ3Zs9jK/Imagen-de-Whats-App-2023-11-22-a-las-20-15-58-e9be8d82.jpg" alt="" />
                            <img src="https://i.postimg.cc/c4j8Rh8W/Imagen-de-Whats-App-2023-11-22-a-las-20-17-24-d986da96.jpg" alt="" />
                            <img src="https://i.postimg.cc/YqjWLZ08/Imagen-de-Whats-App-2023-11-23-a-las-11-33-46-1fb62f4b.jpg" alt="" />
                        </div>
                        <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
        
        
        
        </main>
        
        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">
        
                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>
        
                <ul class="footer__social">
                    
        
                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>
        
                    
                </ul>
        
                <span class="footer__copy">
                    &#169; Art Traces. All rights reserved
                </span>
            </div>
        </footer>
        
        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
        
        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
        
        <!--=============== DESTINATIONS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
        
    </body>
</html>