<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        

        <title> Art Traces | Arquitectura de Cuba </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link active-link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/arquitecturacubaenglish" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">


            <!--=============== EXPERIENCIA 1 ===============-->

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta de u a hermosa</span>
                <h2 class="section__title">Arquitectura</h2>

                <div class="about__container container grid">
                    

                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Recorridos guiados por las calles del centro histórico</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita a edificaciones emblemáticas dentro del movimiento art decó principalmente en La Habana Vieja, Centro Habana, Vedado y Miramar</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita la arquitectura de los años 50  e incluye obras públicas y privadas </h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Recorrido por las obras insignes de cada período después de  1959</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita a casas  pertenecientes a los diversos períodos históricos ( desde la época colonial hasta nuestros días).</h3>
                        </div>
                    </div>

                    <div class="about__data">
                        

                        <p class="about__description">
                            Para los amantes de la arquitectura, visitar La Habana será una experiencia intensa. Definida por Carpentier como la "Ciudad de estilo sin estilos", La Habana se ofrece a los visitantes con el encanto y los misterios de una ciudad legendaria. Recorrer sus calles y visitar los diferentes barrios es algo similar a un viaje en el tiempo, donde es posible ver todas las tendencias arquitectónicas que han conformado el perfil de La Habana y han consolidado nuestra ciudad como una de las más importantes de América Latina y el Caribe.
                            Fundada en 1519, la Ciudad de La Habana fue declarada Patrimonio de la Humanidad por la UNESCO en 1982. La Ciudad Vieja y su sistema de fortificaciones son un ejemplo clásico de arquitectura colonial, junto con las residencias privadas, los lujosos palacios y las maravillosas plazas de los siglos XVI y XVII.
                            El Malecón, nuestro balcón al mar Caribe, es el protagonista del cambio, donde los edificios antiguos dan paso a la ciudad moderna, donde el eclecticismo, el modernismo, el art nouveau, el art deco y las tendencias contemporáneas comparten la sombra de los árboles en amplias avenidas y parques. El Cerro, El Vedado, Santo Suárez o Miramar son algunos de los barrios donde la arquitectura típica nos brindará un punto de vista particular sobre la historia cubana y nos ayudará a comprender cómo el cambio en el contexto sociocultural de la isla contribuyó a conformar la identidad actual de la capital cubana.
                        </p>

                        <a href="/contacto" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta las </span>
                <h2 class="section__title">Experiencias en Nuestra Galería</h2>

                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                      <div class="carousel">
                        <img src="https://i.postimg.cc/B61BPyCf/pexels-mehmet-turgut-kirkgoz-18747883.jpg" alt="" />
                        <img src="https://i.postimg.cc/kgnRPZ6X/pexels-matthias-oben-3687869.jpg" alt="" />
                        <img src="https://i.postimg.cc/25Gcmdbv/Imagen_de_WhatsApp_2023-10-24_a_las_09.32.00_216a020f.jpg" alt="" />
                        <img src="https://i.postimg.cc/tCcX5PBX/pexels-ryutaro-tsukata-5472269.jpg" alt="" />
                        <img src="https://i.postimg.cc/bJ3Zs9jK/Imagen-de-Whats-App-2023-11-22-a-las-20-15-58-e9be8d82.jpg" alt="" />
                        <img src="https://i.postimg.cc/c4j8Rh8W/Imagen-de-Whats-App-2023-11-22-a-las-20-17-24-d986da96.jpg" alt="" />
                        <img src="https://i.postimg.cc/YqjWLZ08/Imagen-de-Whats-App-2023-11-23-a-las-11-33-46-1fb62f4b.jpg" alt="" />
                      </div>
                      <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>

            
           

            
            
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    

                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

        <!--=============== DESTINOS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
    </body>
</html>