<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/assets/css/styles.css">

        

        <title> Art Traces | Arquitectura de Yucatán</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="./index.html" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="./destinocuba.html" class="nav__link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="./destinomexico.html" class="nav__link active-link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="./indexgaleria.html" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="./contacto.html" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="./arquitecturayucatanenglish.html" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">


            <!--=============== EXPERIENCIA 1 ===============-->

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta de la mejor </span>
                <h2 class="section__title">Arquitectura</h2>

                <div class="about__container container grid">
                    

                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Arquitectura Línea de tiempo</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Barrios mágicos en Mérida (La Ermita, 
                                Santiago, Santa Ana, Santa Lucia).</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Pueblos Mágicos, (Valladolid, Izamal, Mani)</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Arqueología, (Chichen itza, Uxmal,
                                Mayapan, Dzibitzaltun, Coba)</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Interiorismo y Decoración</h3>
                        </div>

                    </div>

                    <div class="about__data">
                        

                        <p class="about__description">
                            Yucatán tiene un legado histórico en el mundo arquitectónico como pocos territorios en el mundo. En sus inmediaciones se yerguen majestuosos centros ceremoniales, ciudades capitales y bellos edificios de piedra labrada y arquitectura perfecta desde hace muchos siglos atrás, asi los Mayas construyeron Chichen Itzá, uno de los templos ceremoniales mas importantes en la arqueología y una de las maravillas del mundo moderno. Visitar la ciudad de Mérida es trasladarse a una ciudad llena de historia, de sueños y magia escondida en cada rincón. Mérida es una mezcla entre ciudad contemporánea y la historia Maya y colonial. También podemos recorrer las antiguas calles y construcciones trasladadas a nuestra época de manera magistral. Recorrer Yucatán y su arquitectura es hacer un viaje en el tiempo.

                        </p>

                        <a href="./contacto.html" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta las </span>
                <h2 class="section__title">Experiencias en Nuestra Galería</h2>

                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                      <div class="carousel">
                        <img src="https://i.postimg.cc/k5j3xk9s/pexels-viviana-ceballos-3546605.jpg" alt="" />
                        <img src="https://i.postimg.cc/25N3sLBM/fernando-gago-Iu-YL3s-Eq-AOk-unsplash.jpg" alt="" />
                        <img src="https://i.postimg.cc/d3kWZfth/marv-watson-Uf-K0-P6-Wyg-EE-unsplash.jpg" alt="" />
                        <img src="https://i.postimg.cc/j5Kw7nxP/pexels-bhargava-marripati-3591074.jpg" alt="" />
                        <img src="https://i.postimg.cc/NMwTkP4y/pexels-mike-van-schoonderwalt-5484581.jpg" alt="" />
                        <img src="https://i.postimg.cc/BbKrfbF7/pexels-omar-zetina-12046436.jpg" alt="" />
                        <img src="https://i.postimg.cc/PrZjB3zf/pexels-carmen-lorena-lopez-cabrera-14632604.jpg" alt="" />

                      </div>
                      <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/assets/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="/assets/js/swiper-bundle.min.js"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="/assets/js/mixitup.min.js"></script>

        <!--=============== DESTINOS JS ===============-->
        <script src="/assets/js/destinos.js"></script>
    </body>
</html>