<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        

        <title>  Art Traces | Arte de Yuacatán </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link active-link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/arteyucatanenglish" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">


            <!--=============== EXPERIENCIA 1 ===============-->

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta del verdadero </span>
                <h2 class="section__title">Arte</h2>

                <div class="about__container container grid">
                    

                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visitas a Estudios de Artistas</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visitas a Galerías</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visitas a Museos</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visitas a Centros Culturales</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Cena o Cocteles con Artistas</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Talleres con Artistas</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Plantel Matilde & Sac Chic</h3>
                        </div>
                    </div>

                    <div class="about__data">
                        

                        <p class="about__description">
                            Mérida ostenta el privilegio de ser la única ciudad nombrada dos veces como Capital Americana de la Cultura, y es una de las pocas ciudades del mundo en las que los 365 días del año puedes disfrutar de su colorido folclor, música, danza, recorridos y otras actividades que estimularán tus sentidos y enriquecerán tu acervo cultural. 
                            Pero si hablamos específicamente de artes visuales, cientos de galerías y centros culturales exhiben obras de importantes artistas mexicanos e internacionales que han elegido a la Ciudad Blanca como 

                        </p>

                        <a href="/contacto" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta las </span>
                <h2 class="section__title">Experiencias en Nuestra Galería</h2>

                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                      <div class="carousel">
                        <img src="https://i.postimg.cc/d0X0x0gf/1.png" alt="" />
                        <img src="https://i.postimg.cc/prj5ZjTk/2.png" alt="" />
                        <img src="https://i.postimg.cc/8Py6NTv1/3.png" alt="" />
                        <img src="https://i.postimg.cc/NjYzq71h/4.png" alt="" />
                        <img src="https://i.postimg.cc/fTX9QbpG/pexels-israyosoy-s-18065418.jpg" alt="" />
                      </div>
                      <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>

            
           

            
            
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    

                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

        <!--=============== DESTINOS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
    </body>
</html>