<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="/{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/{{url_for('assets', path='/css/styles.css')}}">

        <title> Art Traces | Art from Cuba</title>

    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/main" class="nav__link ">
                                HOME
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinocubaenglish" class="nav__link active-link">
                                DESTINATION CUBA
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinomexicoenglish" class="nav__link">
                                DESTINATION YUCATÁN
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/indexgaleriaenglish" class="nav__link">
                                GALLERY
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/contactoenglish" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/artecuba" class="button">
                        Spanish
                    </a>
        
                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>
        
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
        
            </nav>
        </header>
    
        <!--=============== MAIN ===============-->
        <main class="main">
    
            <!--=============== EXPERIENCE 1 ===============-->
    
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the true </span>
                <h2 class="section__title">Art</h2>
    
                <div class="about__container container grid">
    
    
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visits to Artist Studios</h3>
                        </div>
    
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Curatorial Work (selection of artists and works to be exhibited).</h3>
                        </div>
    
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visits to Cultural Centers</h3>
                        </div>
    
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Appointments with artists and/or art galleries.</h3>
                        </div>
    
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Advice or assistance, explanation of specific techniques, artistic trends, and artworks.</h3>
                        </div>
    
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Professional Translation.</h3>
                        </div>
                    </div>
    
                    <div class="about__data">
    
    
                        <p class="about__description">
                            Art-Traces offers the unique opportunity to firsthand experience contemporary Cuban art through the exhibition of works and intimate exchange of ideas with the artists and local curators in their studios.
                            This experience is primarily aimed at those interested in learning more about Cuban society beyond the tourist perspective. It attracts collectors of Latin American art interested in understanding contemporary art trends in Cuba.
                            Art-Traces takes care of scheduling appointments with artists and designing programs to visit art museums, art centers, and galleries (guided by curators). It can also organize city tours to enjoy different periods of Havana's architecture.
                            If requested in advance, we can organize art tours to other provinces of the island.
                        </p>
    
                        <a href="/contactoenglish" class="button">Contact Us</a>
                    </div>
                </div>
            </section>
    
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the </span>
                <h2 class="section__title">Experiences in Our Gallery</h2>
    
                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                        <div class="carousel">
                            <img src="https://i.postimg.cc/wByR2gXr/Imagen_de_WhatsApp_2023-10-24_a_las_09.29.20_a611af00.jpg" alt="" />
                            <img src="https://i.postimg.cc/bNbjPMzt/Imagen_de_WhatsApp_2023-10-24_a_las_09.31.58_7a422266.jpg" alt="" />
                            <img src="https://i.postimg.cc/52hY0DvW/Imagen_de_WhatsApp_2023-10-24_a_las_09.31.40_2d103f3c.jpg" alt="" />
                            <img src="https://i.postimg.cc/tRftGvTW/Imagen_de_WhatsApp_2023-10-24_a_las_09.25.03_9359aa1c.jpg" alt="" />
                            <img src="/assets/Img/emily-crawford-u6zlCLNiOHQ-unsplash.jpg" alt="" />
                            <img src="/assets/Img/pexels-denys-gromov-8312023.jpg" alt="" />
                        </div>
                        <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
    
        </main>
    
        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">
        
                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>
                
                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
        
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>
        
                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>
        
                <span class="footer__copy">
                    &#169; Art Traces. All rights reserved
                </span>
            </div>
        </footer>
    
        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
    
        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
    
        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
    
        <!--=============== DESTINOS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
    </body>
    
</html>