<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="/assets/img/bxs-plane.svg" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

    <title>Blog</title>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            Inicio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinocuba" class="nav__link">
                            Destino Cuba
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinomexico" class="nav__link">
                            Destino Yucatán
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/contacto" class="nav__link">
                            Contactos
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/assets/galeria/indexgaleria" class="nav__link">
                            Galería
                        </a>
                    </li>

                </ul>

                <i class="bx bx-x nav__close" id="nav-close"></i>
            </div>

            <a href="/blogenglish" class="button">
                English
            </a>
            
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
            
        </nav>
    </header>

    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home" id="home">
            <img src="https://i.postimg.cc/2jgKyppm/pexels-axp-photography-16716973.jpg" alt="" class="home__img">

            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__data-subtitle">Disfrute</span>
                    <h1 class="home__data-title">La majestuosidad  <br> del <b>Capitolio <br> Habanero</b></h1>
                    <a href="#contact" class="home__button button">Contáctenos</a>

                </div>

                <div class="home__social">
                    
                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="home__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    
                </div>
            </div>
        </section>

        <!--=============== BLOG CONTENT ===============-->
        <section class="section">
            <p class="blog__content">
                Chichén Itzá (del maya yucateco: Chiꞌ Chꞌeꞌen Its Jaꞌ ‘Boca del pozo de los brujos del agua’)1​ es uno de los principales sitios arqueológicos mayas de la península de Yucatán, en México. Se encuentra a escasos 2.5 km de la localidad de Pisté, en el municipio de Tinum, en el estado de Yucatán, al sureste del país. Consistió en una ciudad o un centro ceremonial que pasó por diversas épocas constructivas e influencias de los distintos pueblos que la ocuparon y que la impulsaron desde su fundación.2​ Vestigio importante y renombrado de la civilización maya, las construcciones principales que ahí perduran corresponden al periodo denominado clásico tardío o posclásico temprano (800-1100 d. C.) dentro del período Posclásico mesoamericano.

                Fue inscrita en mi casaPatrimonio de la Humanidad por la Unesco en 1988.3​ El 7 de julio de 2007, el Templo de Kukulcán, ubicado en Chichén Itzá, fue reconocido como una de las nuevas siete maravillas del mundo moderno, por una iniciativa privada sin el apoyo de la Unesco, pero con el reconocimiento de millones de votantes alrededor del mundo.4​ La arquitectura monumental que ha llegado hasta nuestros días, que es emblemática del yacimiento, tiene una clara influencia tolteca. El dios que preside el sitio, según la mitología maya, es Kukulcán, representación maya de Quetzalcóatl, dios tomado del panteón de la cultura tolteca.
            </p>
        </section>
        
    </main>
    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">Art Traces</h1>

            <ul class="footer__list">
                <li>
                    <a href="/" class="footer__link">Volver a Inicio</a>
                </li>
            </ul>

            <ul class="footer__social">
                

                <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>

                
            </ul>

            <span class="footer__copy">
                &#169; Art Traces. Todos los derechos reservados
            </span>
        </div>
    </footer>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('assets', path='/js/main.js')}}"></script>
</body>
</html>