<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

    <title>Blog</title>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                <div class="nav__logo_text">ART - TRACES</div>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/main" class="nav__link ">
                            HOME
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinocubaenglish" class="nav__link">
                            DESTINATION CUBA
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/destinomexicoenglish" class="nav__link active-link">
                            DESTINATION YUCATÁN
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/indexgaleriaenglish" class="nav__link">
                            GALLERY
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/contactoenglish" class="nav__link">
                            TRIP REQUEST
                        </a>
                    </li>
                </ul>
                <br><br><br><br>
                <a href="/blog" class="button">
                    Spanish
                </a>

                <i class="bx bx-x nav__close" id="nav-close"></i>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!--=============== BLOGS ===============-->
        <section class="work section" id="work">
            <span class="section__subtitle">We share useful information in</span>
            <h2 class="section__title">Our Blog</h2>

            <div class="work__filters">
                <span class="work__item active-work" data-filter="all">All</span>
                <span class="work__item" data-filter=".recientes">Most Recent</span>
            </div>

            <div class="work__container container grid">
                <div class="work__card mix recientes">
                    <img src="https://i.postimg.cc/zv5GXcmk/blog1princiapl.jpg" alt="" class="work__img">

                    <h3 class="work__title">A Habitable Sculpture in the Yucatan <br> Jungle</h3>

                    <a href="/1english" class="work__button">
                        Read More <i class='bx bx-right-arrow-alt work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix recientes">
                    <img src="https://i.postimg.cc/PJv9Q3D3/principal-2.jpg" alt="" class="work__img">

                    <h3 class="work__title">From Popular Market to Gourmet Kitchen: <br> Cooking with a Chef</h3>

                    <a href="/2english" class="work__button">
                        Read More <i class='bx bx-right-arrow-alt work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix recientes">
                    <img src="https://i.postimg.cc/Dz2c1y19/3-2.jpg" alt="" class="work__img">

                    <h3 class="work__title">Art Tour</h3>

                    <a href="/3english" class="work__button">
                        Read More <i class='bx bx-right-arrow-alt work__icon'></i>
                    </a>
                </div>
            </div>
        </section>
        <br><br><br>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">

            <div class="footer__logo">
                <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                <h1 class="footer__title">Art Traces</h1>
            </div>

            <ul class="footer__social">
                <a href="https://www.instagram.com/arttracestravel/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </ul>

            <span class="footer__copy">
                &#169; Art Traces. All rights reserved
            </span>
        </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

    <!--=============== MIXITUP FILTER ===============-->
    <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('assets', path='/js/main.js')}}"></script>
</body>
</html>
