<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        <title> Art Traces | Contacto </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link active-link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/contactoenglish" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">

            <!--=============== CONTACT ===============-->
            <section class="contact section" id="contact">
                <span class="section__subtitle">Con solo un Click</span>
                <h2 class="section__title">Contáctenos</h2>

                <div class="contact__container container grid">
                    <div class="contact__content">
                        <h3 class="contact__title">Contáctenos</h3>

                        <div class="contact__info">
                            <div class="contact__card">
                                <i class='bx bx-mail-send contact__card-icon'></i>
                                <h3 class="contact__card-title">Email</h3>
                                <span class="contact__card-data">info@arttraces.net</span>

                                <a href="mailto:info@arttraces.net" target="_blank" class="contact__button">
                                    Escíbeme <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                </a>
                            </div>

                            <div class="contact__card">
                                <i class='bx bxl-instagram contact__card-icon'></i>
                                <h3 class="contact__card-title">Instagram</h3>
                                <span class="contact__card-data">user.fb123</span>

                                <a href="https://www.instagram.com/invites/contact/?i=rx5ct431e8gi&utm_content=49065og" target="_blank" class="contact__button">
                                    Escíbeme <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="contact__content">
                        <h3 class="contact__title">Rellene su solicitud</h3>

                        <form action="/sendform" class="contact__form" method="POST">
                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Nombre completo</label>
                                <input name="name" id="name" type="text"  placeholder="Inserte su nombre y apellidos" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Edad</label>
                                <input name="age" id="age" type="number" placeholder="Edad de la persona que reserva" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Email</label>
                                <input name="email" id="email" type="email" placeholder="Inserte su Email" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de personas</label>
                                <input name="person_number" id="person_number" type="number"placeholder="Numero total de personas" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de adultos</label>
                                <input name="adult_number" id="adult_number" type="number" placeholder="Numero total de personas adultas" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de niños</label>
                                <input name="children_number" id="children_number" type="number" placeholder="Numero total de personas menores" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Destinos</label>
                                <input name="destiny" id="destiny" type="text" placeholder="Incluir Ciudad o lugar según sea el caso" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Días de duración del viaje</label>
                                <input name="duration" id="duration" type="number" placeholder="Ejemplo: 3, 5, 7 o 9 días" value=""  class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Fecha de inicio del viaje</label>
                                <input name="start_date" id="start_date" type="date"  class="contact__form-input" value="" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Fecha de finalización del viaje</label>
                                <input name="end_date" id="end_date" type="date" class="contact__form-input" value="" required>
                            </div>

                            <div class="contact__form-div contact__form-area">
                                <label for="" class="contact__form-tag">Intereses</label>
                                <textarea name="experiences" id="experiences" mencols="30" rows="10" placeholder="Entre las experiencias que ofrecemos seleccione las que son de su interés" class="contact__form-input"></textarea>
                            </div>

                            

                            <input type="submit" value="Enviar Formulario" class="button"></input>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{{url_for('assets', path='/js/main.js')}}"></script>
    </body>
</html>