<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">
        
            <!--=============== BOXICONS ===============-->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
            <!--=============== SWIPER CSS ===============-->
            <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">
        
            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">
        
            <title> Art Traces | Contact </title>
        </head>
        <body>
            <!--=============== HEADER ===============-->
            <header class="header" id="header">
                <nav class="nav container">
                    <div class="nav__logo">
                        <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                        <div class="nav__logo_text">ART - TRACES</div>
                    </div>
        
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/main" class="nav__link ">
                                    HOME
                                </a>
                            </li>
        
                            <li class="nav__item">
                                <a href="/destinocubaenglish" class="nav__link">
                                    DESTINATION CUBA
                                </a>
                            </li>
        
                            <li class="nav__item">
                                <a href="/destinomexicoenglish" class="nav__link">
                                    DESTINATION YUCATÁN
                                </a>
                            </li>
        
                            <li class="nav__item">
                                <a href="/indexgaleriaenglish" class="nav__link">
                                    GALLERY
                                </a>
                            </li>
        
                            <li class="nav__item">
                                <a href="/contactoenglish" class="nav__link active-link">
                                    TRIP REQUEST
                                </a>
                            </li>
                        </ul>
                        <br><br><br><br>
                        <a href="/contacto" class="button">
                            Spanish
                        </a>
        
                        <i class="bx bx-x nav__close" id="nav-close"></i>
                    </div>
        
                    <a class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-menu'></i>
                    </a>
                </nav>
            </header>
        
            <!--=============== MAIN ===============-->
            <main class="main">
        
                <!--=============== CONTACT ===============-->
                <section class="contact section" id="contact">
                    <span class="section__subtitle">With just one click</span>
                    <h2 class="section__title">Contact Us</h2>
        
                    <div class="contact__container container grid">
                        <div class="contact__content">
                            <h3 class="contact__title">Contact Us</h3>
        
                            <div class="contact__info">
                                <div class="contact__card">
                                    <i class='bx bx-mail-send contact__card-icon'></i>
                                    <h3 class="contact__card-title">Email</h3>
                                    <span class="contact__card-data">info@arttraces.net</span>
        
                                    <a href="mailto:info@arttraces.net" target="_blank" class="contact__button">
                                        Email me <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                    </a>
                                </div>
        
                                <div class="contact__card">
                                    <i class='bx bxl-instagram contact__card-icon'></i>
                                    <h3 class="contact__card-title">Instagram</h3>
                                    <span class="contact__card-data">user.fb123</span>
        
                                    <a href="https://www.instagram.com/invites/contact/?i=rx5ct431e8gi&utm_content=49065og" target="_blank" class="contact__button">
                                        Message me <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="contact__content">
                            <h3 class="contact__title">Fill out your request</h3>
        
                            <form action="/sendformenglish" class="contact__form" method="POST">
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Full Name</label>
                                    <input name="name" id="name" type="text" placeholder="Enter your full name" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Age</label>
                                    <input name="age" id="age" type="number" placeholder="Age of the person making the reservation" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Email</label>
                                    <input name="email" id="email"  type="email" placeholder="Enter your Email" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Total persons</label>
                                    <input  name="person_number" id="person_number" type="number" placeholder="Total number of persons" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Total adults</label>
                                    <input name="adult_number" id="adult_number" type="number" placeholder="Total number of adults" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Total children</label>
                                    <input name="children_number" id="children_number" type="number" placeholder="Total number of children" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Destinations</label>
                                    <input name="destiny" id="destiny" type="text" placeholder="Include City or place as applicable" class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Travel duration in days</label>
                                    <input name="duration" id="duration" type="number" placeholder="Example: 3, 5, 7 or 9 days" value=""  class="contact__form-input" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Travel start date</label>
                                    <input name="start_date" id="start_date" type="date"  class="contact__form-input" value="" required>
                                </div>
        
                                <div class="contact__form-div">
                                    <label for="" class="contact__form-tag">Travel end date</label>
                                    <input name="end_date" id="end_date" type="date" class="contact__form-input" value="" required>
                                </div>
        
                                <div class="contact__form-div contact__form-area">
                                    <label for="" class="contact__form-tag">Interests</label>
                                    <textarea name="experiences" id="experiences" mencols="30" rows="10" placeholder="Select the experiences you are interested in from what we offer" class="contact__form-input"></textarea>
                                </div>
        
                                <input type="submit" value="Submit Form" class="button"></input>
                            </form>
                        </div>
                    </div>
                </section>
            </main>
        
            <!--=============== FOOTER ===============-->
            <footer class="footer">
                <div class="footer__container container">
        
                    <div class="footer__logo">
                        <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                        <h1 class="footer__title">Art Traces</h1>
                    </div>
        
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
        
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
        
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </ul>
        
                    <span class="footer__copy">
                        &#169; Art Traces. All rights reserved
                    </span>
                </div>
            </footer>
        
            <!--=============== SCROLLREVEAL ===============-->
            <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
        
            <!--=============== SWIPER JS ===============-->
            <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
        
            <!--=============== MIXITUP FILTER ===============-->
            <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
        
            <!--=============== MAIN JS ===============-->
            <script src="{{url_for('assets', path='/js/main.js')}}"></script>
        </body>
        
</html>