<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="/{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/{{url_for('assets', path='/css/styles.css')}}">

        

        <title>  Art Traces | Fotografía de Cuba </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link active-link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link ">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/fotografiacubaenglish" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">


            <!--=============== EXPERIENCIA 1 ===============-->

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta de la mejor</span>
                <h2 class="section__title">Fotografia</h2>

                <div class="about__container container grid">
                    

                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Images Taken.</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Taking Images.</h3>
                        </div>

                    </div>

                    <div class="about__data">
                        

                        <p class="about__description">
                            Cuban Art Traces ofrece dos tours de fotografía: "IMAGES TAKEN" (Imágenes tomadas) y "TAKING IMAGES" (Tomando imágenes). Cada uno de ellos se puede disfrutar como un recorrido de medio día o de día completo. También tenemos la opción de combinar los dos, ofreciendo dos o tres horas de "IMAGES TAKEN" seguidas de una sesión de "TAKING IMAGES" (o viceversa). Ambos tours serán dirigidos por un especialista curador en arte cubano y un experimentado fotógrafo profesional cubano.
                        </p>

                        <a href="/contactoenglish" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta las </span>
                <h2 class="section__title">Experiencias en Nuestra Galería</h2>

                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                      <div class="carousel">
                        <img src="https://i.postimg.cc/BbWT238D/3.jpg" alt="" />
                        <img src="https://i.postimg.cc/RCjsT5rg/2.jpg" alt="" />
                        <img src="https://i.postimg.cc/ZRjmdbss/19.jpg" alt="" />
                        <img src="https://i.postimg.cc/SKMjCMcT/16.jpg" alt="" />
                        <img src="https://i.postimg.cc/nLbn8wQ2/15.jpg" alt="" />
                      </div>
                      <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/assets/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="/assets/js/swiper-bundle.min.js"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="/assets/js/mixitup.min.js"></script>

        <!--=============== DESTINOS JS ===============-->
        <script src="/assets/js/destinos.js"></script>
    </body>
</html>