<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">
        
            <!--=============== BOXICONS ===============-->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
            <!--=============== SWIPER CSS ===============-->
            <link rel="stylesheet" href="/{{url_for('assets', path='/css/swiper-bundle.min.css')}}">
        
            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="/{{url_for('assets', path='/css/styles.css')}}">
        
            <title> Art Traces | Haciendas de Yucatán</title>
        </head>
        
        <body>
            <!--=============== HEADER ===============-->
            <header class="header" id="header">
                <nav class="nav container">
                    <div class="nav__logo">
                        <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                        <div class="nav__logo_text">ART - TRACES</div>
                    </div>
    
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/main" class="nav__link ">
                                    HOME
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinocubaenglish" class="nav__link active-link">
                                    DESTINATION CUBA
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinomexicoenglish" class="nav__link">
                                    DESTINATION YUCATÁN
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/indexgaleriaenglish" class="nav__link">
                                    GALLERY
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/contactoenglish" class="nav__link">
                                    TRIP REQUEST
                                </a>
                            </li>
                        </ul>
                        <br><br><br><br>
                        <a href="/haciendasyucatan" class="button">
                            Spanish
                        </a>
            
                        <i class="bx bx-x nav__close" id="nav-close"></i>
                    </div>
            
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-menu'></i>
                    </div>
            
                </nav>
            </header>
        
            <!--=============== MAIN ===============-->
            <main class="main">
        
                <!--=============== EXPERIENCE 1 ===============-->
        
                <section class="about section" id="about">
                    <span class="section__subtitle">Enjoy an experience of</span>
                    <h2 class="section__title">Estate</h2>
        
                    <div class="about__container container grid">
        
        
                        <div class="about__info">
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Sotuta de Peon</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Xcanatun</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Mucuyché</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title"> Temozon</h3>
                            </div>
        
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Yaxcopoil</h3>
                            </div>
                        </div>
        
                        <div class="about__data">
        
        
                            <p class="about__description">
                                There was a time when Yucatán had more contact with Europe and the Caribbean than with the rest of the country because the state produced abundantly what they then called "green gold": henequen. This plant extracted robust fibers to make textiles, ropes, and navigation cords. The best testimony of those prosperous years is the haciendas of Yucatán, true palaces established by the owners of the plantations. And although technological innovations and revolutions ended that period of wealth, leading to the abandonment of many of these haciendas, many of them have been reborn in the 21st century to offer an experience of absolute luxury.
                            </p>
        
                            <a href="/contactoenglish" class="button">Contact Us</a>
                        </div>
                    </div>
                </section>
        
                <section class="about section" id="about">
                    <span class="section__subtitle">Enjoy the </span>
                    <h2 class="section__title">Experiences in Our Gallery</h2>
        
                    <div class="wrapper">
                        <i class='bx bx-left-arrow-alt button' id="prev"></i>
                        <div class="image-container">
                            <div class="carousel">
                                <img src="https://i.postimg.cc/4NTs6GyR/antonio-alcantara-DWIb-Vg-Yzu6-U-unsplash.jpg" alt="" />
                                <img src="https://i.postimg.cc/X78S9yt9/ivan-cervantes-Y8hc-Zl-K2-Ps-Q-unsplash.jpg" alt="" />
                                <img src="https://i.postimg.cc/2S0YNBwC/jorge-ramirez-t-Xxzz-KCNkx-I-unsplash.jpg" alt="" />
                                <img src="https://i.postimg.cc/g229s2PQ/mick-haupt-E7mgz-Ag-HW0-Y-unsplash.jpg" alt="" />
                            </div>
                            <i class='bx bx-right-arrow-alt button' id="next"></i>
                        </div>
                    </div>
                    <br><br>
                </section>
        
            </main>
        
            <!--=============== FOOTER ===============-->
            <footer class="footer">
                <div class="footer__container container">
            
                    <div class="footer__logo">
                        <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                        <h1 class="footer__title">Art Traces</h1>
                    </div>
            
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
            
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
            
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </ul>
            
                    <span class="footer__copy">
                        &#169; Art Traces. All rights reserved
                    </span>
                </div>
            </footer>
        
            <!--=============== SCROLLREVEAL ===============-->
            <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
        
            <!--=============== SWIPER JS ===============-->
            <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
        
            <!--=============== MIXITUP FILTER ===============-->
            <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
        
            <!--=============== DESTINATIONS JS ===============-->
            <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
        </body>
        
    </html>