<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art Traces | Cuba</title>

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('assets', path='/css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="{{url_for('assets', path='/js/script.js')}}"></script>
  </head>
  <body>
    <h1>Cuba</h1>
    <div class="lightbox">
      <div class="wrapper">
        <header>
          <div class="details">
            <i class="uil uil-camera"></i>
            <span>Art-Traces</span>
          </div>
          <div class="buttons"><i class="close-icon uil uil-times"></i></div>
        </header>
        <div class="preview-img">
          <div class="img"><img src="" alt="preview-img"></div>
        </div>
      </div>
    </div>
    <section class="gallery">
      <ul class="images">
        <li class="img"><img src="https://i.postimg.cc/h4yjxjCT/shutterstock_312697145.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/kgnRPZ6X/pexels-matthias-oben-3687869.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/B61BPyCf/pexels-mehmet-turgut-kirkgoz-18747883.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/T2tbwfdp/Imagen_de_WhatsApp_2023-11-22_a_las_20.22.43_3db04d9a.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/8PM1ZHqS/pexels-alex-azabache-3182452.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/xjsSFFRw/Imagen_de_WhatsApp_2023-11-23_a_las_11.33.46_330bb6af.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/nLbn8wQ2/15.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/SKMjCMcT/16.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/ZRjmdbss/19.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/RCjsT5rg/2.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/BbWT238D/3.jpg" alt="img"></li>
        <li class="img"><img src="https://i.postimg.cc/B61BPyCf/pexels-mehmet-turgut-kirkgoz-18747883.jpg" alt="img" /></li>
        <li class="img"><img src="https://i.postimg.cc/kgnRPZ6X/pexels-matthias-oben-3687869.jpg" alt="img" /></li>
        <li class="img"><img src="https://i.postimg.cc/tCcX5PBX/pexels-ryutaro-tsukata-5472269.jpg" alt="img" /></li>
      </ul>
    </section>

  </body>
</html>