<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Explora la fusión única de turismo y arte en La Habana y Mérida con Art Traces, tu guía para descubrir las vibrantes escenas culturales de estas ciudades." />
        <meta name="keywords" content="Turismo, Arte, Experiencias">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        <title> Art Traces | Inicio </title>
    </head>
    <body>

        <div itemscope itemtype="https://schema.org/WebSite">
            <meta itemprop="url" content="https://arttraces.net/"/>
            <meta itemprop="name" content="Art Traces"/>
        </div>

        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link active-link">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/blog" class="nav__link">
                                BLOG
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/blog" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home" id="home">
                <img src="https://i.postimg.cc/FzBBvqjW/shutterstock-1993982009.jpg" alt="" class="home__img">
                
                
                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Descubre tu lugar</span>
                        <h1 class="home__data-title">Disfruta siempre de las mejores<br><b>Experiencias</b></h1>
                        <a href="/contacto" class="home__button button">Trip Request</a>
                        
                    </div>

                    <div class="home__social">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </div>

                </div>
            </section>
            
            <!--=============== ABOUT ===============-->
            <section class="about section" id="about">
                <span class="section__subtitle">Algunos Datos</span>
                <h2 class="section__title">Sobre Nosotros</h2>

                <div class="about__container container grid">
                    <img src="/assets/img/Logo_fondo_negro_marco_circular-transformed.svg" alt="" class="about__img">

                    <div class="about__data">
                        <p class="about__description">
                            En Art Traces, nuestra pasión es crear experiencias 
                            de viaje únicas  desde un enfoque cultural. 
                            Nos especializamos en destinos fascinantes 
                            como la península de Yucatán en México y  las 
                            principales ciudades de Cuba. Nuestros viajes 
                            están diseñados a medida de acuerdo a tus intereses, 
                            brindándote la oportunidad de sumergirte en la cultura 
                            local y explorar los tesoros ocultos de cada destino. Puedes 
                            tener encuentros con artistas en sus propios talleres,  
                            degustar la deliciosa gastronomía regional de la mano 
                            de los más reconocidos chefs , hacer un viaje en el tiempo 
                             visitando  lugares arquitectónicos impresionantes y sumergirte 
                             en la magia de la naturaleza que ofrece el ecoturismo.  
                             Te mostraremos lugares únicos y exclusivos  para hacer 
                              de tu estancia una experiencia inolvidable. Creemos en la belleza de los detalles, en la importancia de la diversidad y  defendemos el conocimiento local y el turismo sustentable. Por eso nos esforzamos por proporcionarte un servicio de excelencia en todas las etapas de tu viaje . Nuestro objetivo es crear recuerdos imborrables que te inspirarán de por vida.

                        </p>

                        <a href="/contacto" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <!--=============== EXPERIENCIAS ===============-->
            <section class="services section" id="services">
                <span class="section__subtitle">Disfrute siempre de las mejores</span>
                <h2 class="section__title">Experiencias</h2>

                <div class="projects__content grid " id="productos">
                    <article class="projects__card">
                        <img src="https://i.postimg.cc/d0X0x0gf/1.png" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Arte</h3>
                                <span class="projects__button button services__button">
                                Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Arte</h3>
                                <p class="services__modal-description">
                                    Esta experiencia de arte te invita a sumergirte en un mundo de creatividad y 
                                    expresión, donde las emociones y la imaginación se entrelazan en una danza única de colores 
                                    y formas.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Estudios de Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Galerías
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Museos
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Centros culturales
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Cena o Cocteles con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Talleres con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Plantel Matilde & Sac Chic
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/j5Kw7nxP/pexels-bhargava-marripati-3591074.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Arquitectura</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Arquitectura</h3>
                                <p class="services__modal-description">
                                    En esta experiencia de arquitectura, 
                                    exploraremos la intersección entre diseño 
                                    y función, sumergiéndonos en el fascinante 
                                    mundo de las estructuras que moldean nuestro 
                                    entorno cotidiano.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Arquitectura Línea de tiempo
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Barrios mágicos en Mérida (La Ermita, 
                                            Santiago, Santa Ana, Santa Lucia).
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Pueblos Mágicos, (Valladolid, Izamal, Mani) 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Arqueología, (Chichen itza, Uxmal,
                                             Mayapan, Dzibitzaltun, Coba) 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Interiorismo y Decoración
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/rpZYc9x8/2.png" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Bienestar</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Bienestar</h3>
                                <p class="services__modal-description">
                                    Cuando la mente permanece en silencio, el alma habla,  Déjese invadir por los beneficios curativos, cuerpo, mente y alma en armonía natural, retiros wellness, yoga, ceremonia de cacao, ceremonia del agua. Te ofrecemos experiencias únicas para que la energía que emane de tu interior esté en sintonía con el espíritu milenario de la naturaleza que te rodea.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Temazcal
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Spa
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ceremonia del Cacao
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Limpiezas holísticas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Yoga
                                        </p>
                                    </li>
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Retiros Espirituales
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/SskHBm5F/dorian-d1-KG9JL_DL-og-unsplash.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Cenotes</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Cenotes</h3>
                                <p class="services__modal-description">
                                    Los cenotes son formaciones geológicas únicas,  pozos de agua dulce que se encuentran en cuevas subterráneas, donde podrás nadar, bucear y sentirte conectado con la naturaleza de una manera única.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ik Kill Valladolid
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sambula
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Santa Barbara Homun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Hool Kosom
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            X-Batun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcan Ché
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Dzinup
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Suytun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            X´Keken
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Oxman
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcanahaltun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Zaci

                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Mucuyché

                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/gc6dnZ6w/shutterstock-1841132899.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Haciendas</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Haciendas</h3>
                                <p class="services__modal-description">
                                    Sumérgete en la rica herencia cultural y la serenidad de estos lugares mientras exploras su arquitectura histórica, así son las haciendas de Yucatán, verdaderos palacios establecidos por los dueños de las plantaciones de Henequén. Las innovaciones tecnológicas y las revoluciones dieron por finalizado ese periodo de riqueza, provocando el abandono de muchas de estas haciendas, muchas de ellas han renacido en el siglo XXI para ofrecer una experiencia de lujo absoluto.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sotuta de Peon
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcanatun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Mucuyché
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Temozon
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Yaxcopoil
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ochil

                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/3JtHqCsc/shutterstock-1681794565.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Gastronomia</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Gastronomia</h3>
                                <p class="services__modal-description">
                                    Los Sabores de los dioses Mayas. Visitar Yucatán, es hacer un recorrido de colores, olores y sabores, pues la mezcla de los ingredientes utilizados para la creación de los muchos platillos que integran su gastronomía, se convierten en los guías de un recorrido culinario para los amantes de la buena comida.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia en Casonas Antiguas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia Yucateca en Merida
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia Internacional en Merida
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Experiencias con Chef
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Experiencia Gastronomica en comunidades
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/tg5TYHKr/shutterstock-441334612.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Vida Nocturna</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Vida Nocturna</h3>
                                <p class="services__modal-description">
                                    Te sorprenderás al descubrir todas las opciones 
                                    que nos ofrece ésta bella ciudad, Música en vivo en 
                                    espacios públicos, originales bares, cantinas, antros, 
                                    fiestas voge,  teatros, y porque no? Vivir una experiencia 
                                    de exclusividad en un Bar Speak Easy donde solo unos pocos 
                                    tienen acceso. 
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Bares
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Cantinas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Jazz
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Lugares para bailar
                                        </p>
                                    </li>

                                    
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/R0nvrJ9x/shutterstock-2364429931.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">Ecoturismo</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Ecoturismo</h3>
                                <p class="services__modal-description">
                                    Yucatán es un privilegio, pues la selva que rodea prácticamente todos los pueblos y ciudades guarda en sus entrañas cavernas, cenotes, Manglares y gran cantidad de flora y fauna cuyos sonidos te harán olvidar el ruido de las grandes ciudades.
Bien puedes estar nadando tranquilamente en un cenote rodeado de frondosa vegetación o bien admirar a los hermosos flamencos rosados de Celestún, en la costa oeste de Yucatán.
En los centros ecológicos de Yucatán hay actividades como el rappel, kayak, senderismo, paseos en bicicleta, así como la observación de aves.

                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Calakmul
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Celestun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Rio Lagartos
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sian Ka´an
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="projects__card">
                        <img src="https://i.postimg.cc/BvnpNFFF/matt-hanns-schroeter-rwYdurKPJf0-unsplash.jpg" alt="" class="projects__img">

                        <div class="projects__modal">
                            <div>
                                <span class="projects__subtitles">Experiencia de</span>
                                <h3 class="projects__title">People to people</h3>
                                <span class="projects__button button services__button">
                                    Leer Más <i class="ri-arrow-right-line"></i>
                                </span>
                            </div>
                        </div>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">People to people</h3>
                                <p class="services__modal-description">
                                    Abre tu mente para explorar 
                                    nuevos horizontes, conocer 
                                    personas de diferentes culturas
                                     y crecer personalmente a través
                                      de esta aventura inolvidable.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Encuentro con el restaurador
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visita al taller Diseñador de modas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Encuentro con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Comunidades
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Localizar proyectos comunitarios
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia trip advisor
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Miel en Maní 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            De Visita a Estudios de arquitectura
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                </div>

            </section>

            <!--=============== DESTINOS ===============-->
            <section class="skills section" id="skills">
                <span class="section__subtitle">Viaje a los mejores</span>
                <h2 class="section__title">Destinos</h2>

                <div class="destino__container container grid">
                    <div class="destino__card">
                        <img src="https://i.postimg.cc/h4yjxjCT/shutterstock_312697145.jpg" alt="" class="destino__img">

                        <h3 class="destino__title">Cuba</h3>

                        <a href="/destinocuba" class="destino__button">
                            Explorar <i class='bx bx-right-arrow-alt destino__icon'></i>
                        </a>
                    </div>

                    <div class="destino__card">
                        <img src="https://i.postimg.cc/3JKf0kLj/shutterstock-1729446625.jpg" alt="" class="destino__img">

                        <h3 class="destino__title">Yucatán</h3>

                        <a href="/destinomexico" class="destino__button">
                            Explorar <i class='bx bx-right-arrow-alt destino__icon'></i>
                        </a>
                    </div>

                </div>
            
                
            </section>

            <!--=============== ALOJAMIENTOS ===============-->
            <section class="testimonial section" id="alojamiento"></section>>
                <span class="section__subtitle">Disfrute de los mejores</span>
                <h2 class="section__title">Alojamientos</h2>

                <div class="projects__content grid alojamiento__content" id="productos">
                <article class="projects__card">
                    <img src="https://i.postimg.cc/nL7zDXWY/hotelesboutique.jpg" alt="" class="projects__img">

                    <div class="projects__modal">
                        <div>
                            <span class="projects__subtitles">Alojamiento en</span>
                            <h3 class="projects__title">Hoteles Boutique</h3>
                            <span class="projects__button button services__button">
                            Leer Más <i class="ri-arrow-right-line"></i>
                            </span>
                        </div>
                    </div>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class="bx bx-x services__modal-close"></i>

                            <h3 class="services__modal-title">Hoteles Boutique</h3>
                            <p class="services__modal-description">
                                Compruebe los alojamientos que ofrecemos con solo un click.
                            </p>

                            <ul class="services__modal-list">
                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.rosasandchocolate.com" class="services__modal-info">
                                        Rosas y Xocolate
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.casalecanda.com" class="services__modal-info">
                                        Casa Lecanda
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.cignohotel.com" class="services__modal-info">
                                        Hotel Cigno
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.coquicoqui.com" class="services__modal-info">
                                        Coqui Coqui
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.posadasanjuan.com" class="services__modal-info">
                                        Hotel Posada San Juan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="projects__card">
                    <img src="https://i.postimg.cc/9MhftW53/alojamientos.webp" alt="" class="projects__img">

                    <div class="projects__modal">
                        <div>
                            <span class="projects__subtitles">Hospédese en</span>
                            <h3 class="projects__title">Alojamientos Únicos</h3>
                            <span class="projects__button button services__button">
                                Leer Más <i class="ri-arrow-right-line"></i>
                            </span>
                        </div>
                    </div>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class="bx bx-x services__modal-close"></i>

                            <h3 class="services__modal-title">Alojamientos Únicos</h3>
                            <p class="services__modal-description">
                                Compruebe los alojamientos que ofrecemos con solo un click.
                            </p>

                            <ul class="services__modal-list">
                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.hotelzentik.com" class="services__modal-info">
                                        Hotel Zentik
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.chablehotels.com" class="services__modal-info">
                                        Hotel Chablé
                                    </a>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check services__modal-icon'></i>
                                    <a href="http://www.destinomio.mx" class="services__modal-info">
                                        Destino Mío
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                </div>
            </section>

            
            <br><br><br>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

        <!--=============== MAIN JS ===============-->
        
        <script src="{{url_for('assets', path='/js/main.js')}}"></script>
    </body>
</html>