<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="./assets/img/bxs-plane.svg" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="./assets/css/styles.css">

        <title> Art Traces | Inicio </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">A | T</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">
                                Inicio
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#about" class="nav__link">
                                Nosotros
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#services" class="nav__link">
                                Experiencias
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#skills" class="nav__link">
                                Destinos
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#alojamiento" class="nav__link">
                                Alojamientos
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#work" class="nav__link">
                                Blogs
                            </a>
                        </li>
                    </ul>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home" id="home">
                <img src="https://i.postimg.cc/FzBBvqjW/shutterstock-1993982009.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Descubre tu lugar</span>
                        <h1 class="home__data-title">Disfruta las <br> Mas <b>Hermosas <br> Experiencias</b></h1>
                        <a href="#contact" class="home__button button">Contáctenos</a>

                    </div>

                    <div class="home__social">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </div>

                    <div class="home__info">
                        <div>
                            <span class="home__info-title">5 Hermosos Lugares</span>
                            <a href="#work" class="button button--flex button--link home__info-button">
                                Ir <i class='bx bx-right-arrow-alt'></i>
                            </a>
                        </div>
                        
                        <div class="home__info-overlay">
                            <img src="https://i.postimg.cc/nchrXbsP/gallery-img-6.jpg" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--=============== ABOUT ===============-->
            <section class="about section" id="about">
                <span class="section__subtitle">Algunos Datos</span>
                <h2 class="section__title">Sobre Nosotros</h2>

                <div class="about__container container grid">
                    <img src="https://i.postimg.cc/8krBnnGj/about.jpg" alt="" class="about__img">

                    <div class="about__data">
                        <div class="about__info">
                            <div class="about__box">
                                <i class='bx bx-award about__icon'></i>
                                <h3 class="about__title">Experiencia</h3>
                                <span class="about__subtitle">8 años trabajando</span>
                            </div>

                            <div class="about__box">
                                <i class='bx bx-briefcase-alt about__icon'></i>
                                <h3 class="about__title">Paquetes</h3>
                                <span class="about__subtitle">+ 2k Vendidos</span>
                            </div>

                            <div class="about__box">
                                <i class='bx bx-support about__icon'></i>
                                <h3 class="about__title">Soporte</h3>
                                <span class="about__subtitle">24/7</span>
                            </div>
                        </div>

                        <p class="about__description">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Nulla numquam harum soluta itaque ducimus atque, aut 
                            doloremque iure nesciunt laboriosam!
                        </p>

                        <a href="#contact" class="button">Contactame</a>
                    </div>
                </div>
            </section>

            <!--=============== EXPERIENCIAS ===============-->
            <section class="services section" id="services">
                <span class="section__subtitle">Disfrute siempre de las mejores</span>
                <h2 class="section__title">Experiencias</h2>

                <div class="services__container container grid">

                    <div class="services__card">
                        <h3 class="services__title">Arte</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Arte</h3>
                                <p class="services__modal-description">
                                    Esta experiencia de arte te invita a sumergirte en un mundo de creatividad y 
                                    expresión, donde las emociones y la imaginación se entrelazan en una danza única de colores 
                                    y formas.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Estudios de Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Galerías
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Museos
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Centros culturales
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Cena o Cocteles con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Talleres con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Plantel Matilde & Sac Chic
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Arquitectura</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Arquitectura</h3>
                                <p class="services__modal-description">
                                    En esta experiencia de arquitectura, 
                                    exploraremos la intersección entre diseño 
                                    y función, sumergiéndonos en el fascinante 
                                    mundo de las estructuras que moldean nuestro 
                                    entorno cotidiano.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Arquitectura Línea de tiempo
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Barrios mágicos en Mérida (La Ermita, 
                                            Santiago, Santa Ana, Santa Lucia).
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Pueblos Mágicos, (Valladolid, Izamal, Mani) 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Arqueología, (Chichen itza, Uxmal,
                                             Mayapan, Dzibitzaltun, Coba) 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Interiorismo y Decoración
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Bienestar</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Bienestar</h3>
                                <p class="services__modal-description">
                                    Bienvenidos a una experiencia de bienestar 
                                    única, donde podrán desconectar del estrés 
                                    diario y conectarse con su ser interior, 
                                    encontrando la armonía y la serenidad que 
                                    necesitan para rejuvenecer cuerpo y mente.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Temazcal
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Spa
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ceremonia del Cacao
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Limpiezas holísticas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Yoga
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Cenotes</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Cenotes</h3>
                                <p class="services__modal-description">
                                    Disfrute esta 
                                    aventura única llena de maravillas 
                                    geológicas y experiencias inolvidables
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ik Kill Valladolid
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sambula
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Santa Barbara Homun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Hool Kosom
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            X-Batun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcan Ché
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Dzinup
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Suytun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            X´Keken
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Oxman
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcanahaltun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Zaci

                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Haciendas</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Haciendas</h3>
                                <p class="services__modal-description">
                                    Sumérgete en la rica herencia cultural
                                    y la serenidad de estos lugares mientras
                                    exploras su arquitectura histórica y 
                                    disfrutas de la hospitalidad local.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sotuta de Peon
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Xcanatun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Mucuyché
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Temozon
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Yaxcopoil
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Ochil

                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Gastronomia</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Gastronomia</h3>
                                <p class="services__modal-description">
                                    Prepárense para embarcarse en 
                                    un viaje culinario que les 
                                    transportará a lugares inexplorados
                                     a través de cada bocado
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia en Casonas Antiguas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia Yucateca en Merida
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia Internacional en Merida
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Experiencias con Chef
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Experiencia Gastronomica en comunidades
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Vida Nocturna</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Vida Nocturna</h3>
                                <p class="services__modal-description">
                                    Experimenta la vibrante vida nocturna 
                                    de la ciudad mientras las luces destellan 
                                    y la música llena el aire, llevándote a 
                                    un mundo de diversión y emoción.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Bares
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Cantinas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Jazz
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Lugares para bailar
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Lorem ipsum, dolor sit amet 
                                            consectetur adipisicing elit.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">Vida Salvaje</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">Vida Salvaje</h3>
                                <p class="services__modal-description">
                                    Sumérgete en la vida salvaje, 
                                    observa majestuosos animales 
                                    en su hábitat natural y crea 
                                    recuerdos inolvidables mientras 
                                    te conectas con la naturaleza de 
                                    una manera única.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Calakmul
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Celestun
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Rio Lagartos
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Sian Ka´an
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services__card">
                        <h3 class="services__title">People to people</h3>

                        <span class="services__button">
                            Ver Más <i class='bx bx-right-arrow-alt services__icon'></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <i class="bx bx-x services__modal-close"></i>

                                <h3 class="services__modal-title">People to people</h3>
                                <p class="services__modal-description">
                                    Abre tu mente para explorar 
                                    nuevos horizontes, conocer 
                                    personas de diferentes culturas
                                     y crecer personalmente a través
                                      de esta aventura inolvidable.
                                </p>

                                <ul class="services__modal-list">
                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Encuentro con el restaurador
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visita al taller Diseñador de modas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Encuentro con Artistas
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Visitas a Comunidades
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Localizar proyectos comunitarios
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Gastronomia trip advisor
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            Miel en Mani 
                                        </p>
                                    </li>

                                    <li class="services__modal-item">
                                        <i class='bx bx-check services__modal-icon'></i>
                                        <p class="services__modal-info">
                                            De Visita a Estudios de arquitectura
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <!--=============== DESTINOS ===============-->
            <section class="skills section" id="skills">
                <span class="section__subtitle">Viaje a los mejores</span>
                <h2 class="section__title">Destinos</h2>

                <div class="destino__container container grid">
                    <div class="destino__card">
                        <img src="https://i.postimg.cc/h4yjxjCT/shutterstock_312697145.jpg" alt="" class="destino__img">

                        <h3 class="destino__title">Cuba</h3>

                        <a href="/destinocuba" class="destino__button">
                            Explorar <i class='bx bx-right-arrow-alt destino__icon'></i>
                        </a>
                    </div>

                    <div class="destino__card">
                        <img src="https://i.postimg.cc/Njq8mpM3/chichen-itza-1025099_1280.jpg" alt="" class="destino__img">

                        <h3 class="destino__title">México</h3>

                        <a href="/destinomexico" class="destino__button">
                            Explorar <i class='bx bx-right-arrow-alt destino__icon'></i>
                        </a>
                    </div>

                </div>
            
                
            </section>

            <!--=============== ALOJAMIENTOS ===============-->
            <section class="testimonial section" id="alojamiento"></section>>
                <span class="section__subtitle">Descanse en alguno de nuestros</span>
                <h2 class="section__title">Alojamientos</h2>

                <div class="testimonial__container container swiper">
                    <div class="swiper-wrapper">
                        <div class="testimonial__card swiper-slide">
                            <img src="https://i.postimg.cc/sXbPg5Yj/testimonial1.jpg" alt="" class="testimonial__img">

                            <h3 class="testimonial__name">Hoteles Boutique</h3>
                            <p class="testimonial__description">"Lorem ipsum, dolor sit amet 
                                consectetur adipisicing elit. Dolor iusto necessitatibus animi 
                                reprehenderit error reiciendis fuga omnis facere inventore saepe."
                            </p>
                        </div>

                        <div class="testimonial__card swiper-slide">
                            <img src="https://i.postimg.cc/wT8cKcxF/testimonial2.jpg" alt="" class="testimonial__img">

                            <h3 class="testimonial__name">Casas Privadas</h3>
                            <p class="testimonial__description">"Lorem ipsum, dolor sit amet 
                                consectetur adipisicing elit. Dolor iusto necessitatibus animi 
                                reprehenderit error reiciendis fuga omnis facere inventore saepe."
                            </p>
                        </div>

                        <div class="testimonial__card swiper-slide">
                            <img src="https://i.postimg.cc/tJP3Z7kh/testimonial3.jpg" alt="" class="testimonial__img">

                            <h3 class="testimonial__name">Alojamientos unicos</h3>
                            <p class="testimonial__description">"Lorem ipsum, dolor sit amet 
                                consectetur adipisicing elit. Dolor iusto necessitatibus animi 
                                reprehenderit error reiciendis fuga omnis facere inventore saepe."
                            </p>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </section>

            <!--=============== BLOGS ===============-->
            <section class="work section" id="work">
                <span class="section__subtitle">Enterese de datos interesantes en nuestro</span>
                <h2 class="section__title">Blog</h2>

                <div class="work__filters">
                    <span class="work__item active-work" data-filter="all">Todos</span>
                    <span class="work__item" data-filter=".recientes">Mas Recientes</span>
                    
                </div>

                <div class="work__container container grid">
                    <div class="work__card">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Chichen Itzá</h3>

                        <a href="#" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card mix recientes">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Valladolid</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Cenote</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card mix recientes">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Mérida</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Celestún</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Río Lagartos</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card mix recientes">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Sisal</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>

                    <div class="work__card">
                        <img src="https://i.postimg.cc/3RkChtDf/chichen-itza-1025099-1280.jpg" alt="" class="work__img">

                        <h3 class="work__title">Izamal</h3>

                        <a href="/blogs" class="work__button">
                            Leer Más <i class='bx bx-right-arrow-alt work__icon'></i>
                        </a>
                    </div>
                </div>
            </section>

            <!--=============== CONTACT ===============-->
            <section class="contact section" id="contact">
                <span class="section__subtitle">Con solo un Click</span>
                <h2 class="section__title">Contáctenos</h2>

                <div class="contact__container container grid">
                    <div class="contact__content">
                        <h3 class="contact__title">Contáctenos</h3>

                        <div class="contact__info">
                            <div class="contact__card">
                                <i class='bx bx-mail-send contact__card-icon'></i>
                                <h3 class="contact__card-title">Email</h3>
                                <span class="contact__card-data">user@gmail.com</span>

                                <a href="mailto:examplemail@correo.com" target="_blank" class="contact__button">
                                    Escíbeme <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                </a>
                            </div>

                            <div class="contact__card">
                                <i class='bx bxl-whatsapp contact__card-icon'></i>
                                <h3 class="contact__card-title">Whatsapp</h3>
                                <span class="contact__card-data">999-888-777</span>

                                <a href="https://api.whatsapp.com/send?phone=5353824917&text=Hola, me interesa tu trabajo!" target="_blank" class="contact__button">
                                    Escíbeme <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                </a>
                            </div>

                            <div class="contact__card">
                                <i class='bx bxl-instagram contact__card-icon'></i>
                                <h3 class="contact__card-title">Instagram</h3>
                                <span class="contact__card-data">user.fb123</span>

                                <a href="https://www.instagram.com/invites/contact/?i=rx5ct431e8gi&utm_content=49065og" target="_blank" class="contact__button">
                                    Escíbeme <i class='bx bx-right-arrow-alt contact__button-icon'></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="contact__content">
                        <h3 class="contact__title">Rellene su solicitud</h3>

                        <form action="/sendform" class="contact__form" method="post">
                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Nombre completo</label>
                                <input type="text" name="name" placeholder="Inserte su nombre y apellidos" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Edad</label>
                                <input type="number" name="age" placeholder="Edad de la persona que reserva" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Email</label>
                                <input type="email" name="email" placeholder="Inserte su Email" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de personas</label>
                                <input type="number" name="person_number" placeholder="Numero total de personas" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de adultos</label>
                                <input type="number" name="adult_number" placeholder="Numero total de personas adultas" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Total de niños</label>
                                <input type="number" name="children_number" placeholder="Numero total de personas menores" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Destinos</label>
                                <input type="text" name="destiny" placeholder="Incluir Ciudad o lugar según sea el caso" class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Días de duración del viaje</label>
                                <input type="number" name="duration" placeholder="Ejemplo: 3 días, 5 días, o 1 semana" value=""  class="contact__form-input" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Fecha de inicio del viaje</label>
                                <input type="date" name="start_date" class="contact__form-input" value="" required>
                            </div>

                            <div class="contact__form-div">
                                <label for="" class="contact__form-tag">Fecha de finalización del viaje</label>
                                <input type="date" name="end_date" class="contact__form-input" value="" required>
                            </div>

                            <div class="contact__form-div contact__form-area">
                                <label for="" class="contact__form-tag">Intereses</label>
                                <textarea  name="experiences" mencols="30" rows="10" placeholder="Entre las experiencias que ofrecemos seleccione las que son de su interés" class="contact__form-input"></textarea>
                            </div>

                            

                            <input type="submit" value="Enviar Formulario" class="button"></input>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">
                <h1 class="footer__title">Art Traces</h1>

                <ul class="footer__list">
                    <li>
                        <a href="#about" class="footer__link">Sobre Nosotros</a>
                    </li>

                    <li>
                        <a href="#services" class="footer__link">Experiencias</a>
                    </li>

                    <li>
                        <a href="#work" class="footer__link">Blogs</a>
                    </li>
                </ul>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="./assets/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="./assets/js/swiper-bundle.min.js"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="./assets/js/mixitup.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="./assets/js/main.js"></script>
    </body>
</html>