<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="{{url_for('assets', path='/img/4.svg')}}" type="image/x-icon">
        
            <!--=============== BOXICONS ===============-->
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
            <!--=============== SWIPER CSS ===============-->
            <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">
        
            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">
        
            <title> Art Traces | Religion of Cuba</title>
        </head>
        
        <body>
            <!--=============== HEADER ===============-->
            <header class="header" id="header">
                <nav class="nav container">
                    <div class="nav__logo">
                        <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                        <div class="nav__logo_text">ART - TRACES</div>
                    </div>
    
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/main" class="nav__link ">
                                    HOME
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinocubaenglish" class="nav__link active-link">
                                    DESTINATION CUBA
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/destinomexicoenglish" class="nav__link">
                                    DESTINATION YUCATÁN
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/indexgaleriaenglish" class="nav__link">
                                    GALLERY
                                </a>
                            </li>
            
                            <li class="nav__item">
                                <a href="/contactoenglish" class="nav__link">
                                    TRIP REQUEST
                                </a>
                            </li>
                        </ul>
                        <br><br><br><br>
                        <a href="/religioncuba" class="button">
                            Spanish
                        </a>
            
                        <i class="bx bx-x nav__close" id="nav-close"></i>
                    </div>
            
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-menu'></i>
                    </div>
            
                </nav>
            </header>
    
            <!--=============== MAIN ===============-->
            <main class="main">
    
    
                <!--=============== EXPERIENCE 1 ===============-->
    
                <section class="about section" id="about">
                    <span class="section__subtitle">Explore the depths of</span>
                    <h2 class="section__title">Religion</h2>
    
                    <div class="about__container container grid">
                        
    
                        <div class="about__info">
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Visit the Orishas Museum at the Yoruba Society of Cuba and/or the Casa de África Museum.</h3>
                            </div>
    
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Visit Callejón de Hamel.</h3>
                            </div>
    
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Visit a Cuban artist whose work is primarily inspired by Afro-Cuban religion.</h3>
                            </div>
    
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Visit the house of a Babalow.</h3>
                            </div>
    
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Visit BEYOND ROOTS, a contemporary project of fashion, cosmetics, and design inspired by Afro-Cuban religion.</h3>
                            </div>
    
                            <div class="about__box">
                                <i class='bx bxs-badge-check about__icon'></i>
                                <h3 class="about__title">Lunch inspired by Afro-Cuban foods and traditions.</h3>
                            </div>
    
                        </div>
    
                        <div class="about__data">
                            
    
                            <p class="about__description">
                                The Yoruba religion was already a syncretic religion in Africa, with influences from Islam, Catholicism, and other traditions, before many of its followers were displaced from the shores of West Africa and brought as slaves to Cuba.
                                The original practitioners on the island, which was then under Spanish rule, incorporated elements of Catholicism both to veil their rituals and to ensure the survival of these traditional beliefs. Catholic saints were chosen and associated with individual Orishas (gods), and the attire from the Spanish colonial period still blends with Yoruba origins in today's colorful ceremonies. Santería (Way of the Saints) includes complex systems of cosmology, philosophy, initiation, priesthood, divination, sacrifice, a repertoire of praise songs, drums, and dance, to name a few. Santería priests who attend to the Orishas can be men or women and are called Santeros. On the other hand, the Babalaw is always male and is the one who performs divinations, mainly using a system of 16 cowrie shells.
                            </p>
    
                            <a href="/contactoenglish" class="button">Contact Us</a>
                        </div>
                    </div>
                </section>
    
                <section class="about section" id="about">
                    <span class="section__subtitle">Enjoy the</span>
                    <h2 class="section__title">Experiences in Our Gallery</h2>
    
                    <div class="wrapper">
                        <i class='bx bx-left-arrow-alt button' id="prev"></i>
                        <div class="image-container">
                          <div class="carousel">
                            <img src="https://i.postimg.cc/HL1cKL2P/Imagen-de-Whats-App-2023-11-22-a-las-20-18-58-f1f6c1b6.jpg" alt="" />
                            <img src="https://i.postimg.cc/pXGzrxBs/Imagen-de-Whats-App-2023-11-22-a-las-20-22-43-3db04d9a.jpg" alt="" />
                            <img src="https://i.postimg.cc/5Ntwqj7B/Imagen-de-Whats-App-2023-11-23-a-las-11-33-47-5fbbb4c0.jpg" alt="" />
                            <img src="https://i.postimg.cc/sgQ7qqR1/Imagen-de-Whats-App-2023-11-23-a-las-11-33-48-eaf76a9e.jpg" alt="" />
                            <img src="https://i.postimg.cc/xjsSFFRw/Imagen-de-Whats-App-2023-11-23-a-las-11-33-46-330bb6af.jpg" alt="" />
                          </div>
                          <i class='bx bx-right-arrow-alt button' id="next"></i>
                        </div>
                    </div>
                    <br><br>
                </section>
            </main>
    
            <!--=============== FOOTER ===============-->
            <footer class="footer">
                <div class="footer__container container">
            
                    <div class="footer__logo">
                        <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                        <h1 class="footer__title">Art Traces</h1>
                    </div>
            
                    <ul class="footer__social">
                        
            
                        <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram'></i>
                        </a>
            
                        
                    </ul>
            
                    <span class="footer__copy">
                        &#169; Art Traces. All rights reserved
                    </span>
                </div>
            </footer>
    
    
            <!--=============== SCROLLREVEAL ===============-->
            <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
    
            <!--=============== SWIPER JS ===============-->
            <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
    
            <!--=============== MIXITUP FILTER ===============-->
            <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
    
            <!--=============== DESTINOS JS ===============-->
            <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
        </body>
    
</html>