<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="https://i.postimg.cc/jSzLp3VJ/Art-17.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        

        <title> Art Traces | Religión de Cuba</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link ">
                                INICIO
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinocuba" class="nav__link active-link">
                                DESTINO CUBA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/destinomexico" class="nav__link">
                                DESTINO YUCATÁN
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/indexgaleria" class="nav__link">
                                GALERÍA
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/contacto" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/religioncubaenglish" class="button">
                        English
                    </a>

                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>

                
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
            </nav>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">


            <!--=============== EXPERIENCIA 1 ===============-->

            <section class="about section" id="about">
                <span class="section__subtitle">Adentrese en lo mas profundo de la</span>
                <h2 class="section__title">Religión</h2>

                <div class="about__container container grid">
                    

                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita al Museo de Orishas en la Sociedad Yoruba de Cuba y/o al Museo Casa de África.</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita al Callejón de Hamel.</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita a un artista cubano cuyo trabajo está principalmente inspirado en la religión afrocubana..</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita a la casa de un Babalow.</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Visita a BEYOND ROOTS, un proyecto contemporáneo de moda, cosmética y diseño inspirado en la religión afrocubana.</h3>
                        </div>

                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Almuerzo inspirado en alimentos y tradiciones afrocubanas.</h3>
                        </div>

                    </div>

                    <div class="about__data">
                        

                        <p class="about__description">
                            La religión Yoruba ya era una religión sincrética en   
                            África, con influencias del Islam, el catolicismo y 
                            otras tradiciones, antes de que muchos de sus seguidores 
                            fueran desplazados de las costas de África occidental y ç
                            llevados como esclavos a Cuba.
                            Los practicantes originales en la isla, que entonces estaba 
                            bajo dominio español, incorporaron elementos del catolicismo
                             tanto para velar sus rituales como para asegurar la supervivencia 
                             de estas creencias tradicionales. Se eligieron santos 
                             católicos y se les asoció con los Orishas individuales (dioses), 
                             y los atuendos de la época colonial española todavía se combinan 
                             con guirnaldas de origen yoruba en las coloridas ceremonias de hoy en 
                             día. La Santería (Camino de los Santos) incluye sistemas complejos de 
                             cosmología, filosofía, iniciación, sacerdocio, adivinación, sacrificio, 
                             repertorio de cánticos de alabanza, tambores y danza, por nombrar algunos. 
                             Los sacerdotes de Santería que atienden a los Orishas pueden ser hombres o 
                             mujeres y se les llama Santeros. Por otro lado, el Babalaw siempre es 
                             masculino y es él quien realiza adivinaciones, principalmente utilizando
                              un sistema de 16 caracoles de cowrie.
                        </p>

                        <a href="/contacto" class="button">Contáctenos</a>
                    </div>
                </div>
            </section>

            <section class="about section" id="about">
                <span class="section__subtitle">Disfruta las </span>
                <h2 class="section__title">Experiencias en Nuestra Galería</h2>

                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                      <div class="carousel">
                        <img src="https://i.postimg.cc/HL1cKL2P/Imagen-de-Whats-App-2023-11-22-a-las-20-18-58-f1f6c1b6.jpg" alt="" />
                        <img src="https://i.postimg.cc/pXGzrxBs/Imagen-de-Whats-App-2023-11-22-a-las-20-22-43-3db04d9a.jpg" alt="" />
                        <img src="https://i.postimg.cc/5Ntwqj7B/Imagen-de-Whats-App-2023-11-23-a-las-11-33-47-5fbbb4c0.jpg" alt="" />
                        <img src="https://i.postimg.cc/sgQ7qqR1/Imagen-de-Whats-App-2023-11-23-a-las-11-33-48-eaf76a9e.jpg" alt="" />
                        <img src="https://i.postimg.cc/xjsSFFRw/Imagen-de-Whats-App-2023-11-23-a-las-11-33-46-330bb6af.jpg" alt="" />
                      </div>
                      <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">

                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>
                
                <ul class="footer__social">
                    

                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>

                    
                </ul>

                <span class="footer__copy">
                    &#169; Art Traces. Todos los derechos reservados
                </span>
            </div>
        </footer>


        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>

        <!--=============== DESTINOS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
    </body>
</html>