<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('assets', path='/img/Logo_fondo_negro_marco_circular-transformed.svg')}}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/swiper-bundle.min.css')}}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{url_for('assets', path='/css/styles.css')}}">

        <title>Art Traces | Nightlife in Yucatán</title>

    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav__logo">
                    <img src="https://i.postimg.cc/t4jPP0Ky/Imagen1.png" alt="" srcset="">
                    <div class="nav__logo_text">ART - TRACES</div>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/main" class="nav__link ">
                                HOME
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinocubaenglish" class="nav__link active-link">
                                DESTINATION CUBA
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/destinomexicoenglish" class="nav__link">
                                DESTINATION YUCATÁN
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/indexgaleriaenglish" class="nav__link">
                                GALLERY
                            </a>
                        </li>
        
                        <li class="nav__item">
                            <a href="/contactoenglish" class="nav__link">
                                TRIP REQUEST
                            </a>
                        </li>
                    </ul>
                    <br><br><br><br>
                    <a href="/vidanocturnayucatan" class="button">
                        Spanish
                    </a>
        
                    <i class="bx bx-x nav__close" id="nav-close"></i>
                </div>
        
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
        
            </nav>
        </header>
        
        <!--=============== MAIN ===============-->
        <main class="main">
        
            <!--=============== EXPERIENCE 1 ===============-->
        
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the Best</span>
                <h2 class="section__title">Nightlife</h2>
        
                <div class="about__container container grid">
        
        
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Bars</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Taverns</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title">Jazz</h3>
                        </div>
        
                        <div class="about__box">
                            <i class='bx bxs-badge-check about__icon'></i>
                            <h3 class="about__title"> Dance Venues</h3>
                        </div>
        
                    </div>
        
                    <div class="about__data">
        
        
                        <p class="about__description">
                            You can't visit Mérida without experiencing its nightlife. You will be amazed to discover all the options that this beautiful city offers,
                             a large number of activities, both artistic and cultural, and recreational. This city offers you many entertainment options such as: bars, taverns, nightclubs, Vogue parties,
                             theaters, and why not? Live an exclusive experience in a Speakeasy Bar where only a few have access.
                        </p>
        
                        <a href="/contactoenglish" class="button">Contact Us</a>
                    </div>
                </div>
            </section>
        
            <section class="about section" id="about">
                <span class="section__subtitle">Enjoy the</span>
                <h2 class="section__title">Experiences in Our Gallery</h2>
        
                <div class="wrapper">
                    <i class='bx bx-left-arrow-alt button' id="prev"></i>
                    <div class="image-container">
                        <div class="carousel">
                            <img src="https://i.postimg.cc/htNknFwt/pexels-cottonbro-studio-9419224.jpg" alt="" />
                            <img src="https://i.postimg.cc/tJ510N49/pexels-inga-seliverstova-3394225.jpg" alt="" />
                            <img src="https://i.postimg.cc/Gh2Vshnp/pexels-isabella-mendes-1304475.jpg" alt="" />
                            <img src="https://i.postimg.cc/zDjYgcLx/pexels-narmin-aslanli-19073186.jpg" alt="" />
                            <img src="https://i.postimg.cc/V6mHszFm/pexels-rachel-claire-5490965.jpg" alt="" />
                        </div>
                        <i class='bx bx-right-arrow-alt button' id="next"></i>
                    </div>
                </div>
                <br><br>
            </section>
        
        </main>
        
        <!--=============== FOOTER ===============-->
        <footer class="footer">
            <div class="footer__container container">
        
                <div class="footer__logo">
                    <img src="https://i.postimg.cc/rm5L19Sj/Art-17-removebg-preview.png" alt="" srcset="">
                    <h1 class="footer__title">Art Traces</h1>
                </div>
        
                <ul class="footer__social">
                    
        
                    <a href="https://instagram.com/arttracestravel?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>
        
                    
                </ul>
        
                <span class="footer__copy">
                    &#169; Art Traces. All rights reserved
                </span>
            </div>
        </footer>
        
        <!--=============== SCROLLREVEAL ===============-->
        <script src="{{url_for('assets', path='/js/scrollreveal.min.js')}}"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="{{url_for('assets', path='/js/swiper-bundle.min.js')}}"></script>
        
        <!--=============== MIXITUP FILTER ===============-->
        <script src="{{url_for('assets', path='/js/mixitup.min.js')}}"></script>
        
        <!--=============== DESTINOS JS ===============-->
        <script src="{{url_for('assets', path='/js/destinos.js')}}"></script>
        
    </body>
</html>